---
import type { Article } from '@/libs/microcms';
import TagList from "@/components/TagList.astro"
import { formatDate } from "@/libs/utils";

interface Props {
  article: Article;
}

const { article } = Astro.props;

---
<li>
  <a href={`/blog/posts/${article.id}`} class="block card bg-base-100 shadow-lg">
    <div class="card-body">
      <p class="card-title">{article.title}</p>
      <TagList tags={article.tags} hasLink={false} hasAll={false} />
      <p>{formatDate(article.publishedAt || article.createdAt)}</p>
    </div>
  </a>
</li>