---
import HeadSEO from "@/components/HeadSEO.astro";
import HeadThemeChange from "@/components/HeadThemeChange.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import type { Props } from "@/components/HeadSEO.astro";
import { ViewTransitions } from 'astro:transitions';

const {
  title,
  description,
  imageUrl,
  disableIndexing,
  type,
  structuredData,
} = Astro.props;
---

<html lang="ja">
  <head>
    <HeadSEO
      title={title}
      description={description}
      imageUrl={imageUrl}
      disableIndexing={disableIndexing}
      type={type}
      structuredData={structuredData}
    />
    <HeadThemeChange />
    <ViewTransitions />
    <slot name="ExtraHead"></slot>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="relative flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
