---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogNav from "@/components/BlogNav.astro";
import { getTagList, getTag } from "@/libs/microcms";
import Breadcrumb from "@/components/Breadcrumb.astro";

interface Props {
  currentPage: number;
  tagId: string;
}

const { currentPage, tagId } = Astro.props;

const tags = await getTagList({ fields: ["id", "name"] });
const tag = await getTag(tagId);
---

<BaseLayout
  title={`${tag.name}に関するブログ一覧（${currentPage}ページ目）`}
  description=`${tag.name}に関するブログ一覧の${currentPage}ページ目です。`
  structuredData={{
    type: "BreadcrumbList",
    option: {
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          name: "ホーム",
          item: Astro.site,
        },
        {
          "@type": "ListItem",
          position: 2,
          name: "ブログ一覧",
          item: `${Astro.site}blog/p/1`,
        },
        {
          "@type": "ListItem",
          position: 3,
          name: `${tag.name}に関するブログ一覧（${currentPage}ページ目）`,
        },
      ],
    },
  }}
>
  <div class="container py-16">
    <Breadcrumb
      lists={[
        {
          name: "ブログ一覧",
          path: "/blog/p/1",
        },
        {
          name: `${tag.name}に関するブログ一覧（${currentPage}ページ目）`,
        },
      ]}
    />
    <h1 class="text-3xl">ブログ タグ：{tag.name}</h1>
    <BlogNav tags={tags.contents} />
    <div class="mt-16">
      <slot />
    </div>
  </div>
</BaseLayout>
